<form >
    <div class="container">
      <div class="form-group">
      <label id="l" for="uname"><b>Username</b></label><br>
      <input type="text" placeholder="Enter Username" name="uname" required> <br>
      </div>
      <label id="l" for="psw"><b>Password</b></label> <br>
      <input type="password" placeholder="Enter Password" name="psw" required> <br>
          
      <button (click)="onLoginClick()" (click)="doLogin()" type="submit">Login</button> <br>
      <button type="button" class="cancelbtn">Cancel</button>
      
    </div>
  </form>
 