<div class="topnav">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a (click)="getStudents()" class="navbar-brand" href="api/students/">Students</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of Students">
        <td><span>{{student.index}}</span></td>
        <td><span>{{student.name}}</span></td>
        <td><span>{{student.surname}}</span></td>
        <td><span>{{student.email}}</span></td>
        <td>
    </tbody>
  </table>